:root {
    --c-background: #202124;
    --c-white: #fafafa;
    --c-main: tomato;
    --c-gray: #303134;
    --f-main: 'Inter', sans-serif;
    --border-radius: 15px;
    --section-gap: 20px;
}

body {
    font-size: 16px;
    line-height: normal;
    background: var(--c-background);
    color: var(--c-white);
    font-family: var(--f-main);
}
